{
  "development": {
    "NODE_ENV": "development",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API_V1": ""
  },
  "production": {
    "NODE_ENV": "production",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API_V1": ""
  },
  "test": {
    "NODE_ENV": "test",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API_V1": ""
  }
}
