{
  "development": {
    "NODE_ENV": "development",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API_V1": "/api/v1.0",
    "MONGO_URI": "mongodb://root:root@localhost:27017",
    "MONGO_DATABASE": "backend-clean",
    "EMAIL_DOMAIN": "dominio.com.co",
    "RIJNDAEL_KEY": "key",
    "SEED": "sdfgsdffgsf",
    "EXPIRES_IN": 15
  },
  "production": {
    "NODE_ENV": "production",
    "PORT": 9000,
    "NAME_API": "API",
    "CORS_URL": "*",
    "PREFIX_API_V1": "/api/v1.0",
    "MONGO_URI": "mongodb+srv://<username>:<password>@cluster0.g0jgy.gcp.mongodb.net/myFirstDatabase",
    "MONGO_DATABASE": "myFirstDatabase",
    "EMAIL_DOMAIN": "dominio.com.co",
    "RIJNDAEL_KEY": "key",
    "SEED": "sdfgsdffgsf",
    "EXPIRES_IN": 15
  }
}
