{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
