# Coverage directory used by tools like istanbul
coverage

# Compiled 
build

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env-cmdrc.json
